/***** Custom Properties *****/
:root {
  --bg-black: #212121;
  --bg-blue: #127eb1;
  --color-black: #212121;
  --color-blue: #127eb1;
  --color-white: #f0f0f0;
  --white: #ffffff;
  --title-color: #127eb1;
  --font: 'Poppins', sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/***** Reset *****/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-black);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a:hover {
  opacity: 1;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}


/*** components ***/
.content {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 260px;
}

.header svg {
  padding: 0px;
  margin: 0px 15px;
}

.header svg path {
  color: var(--bg-blue);
}

.header button .hamburger-box .hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background: var(--bg-blue);
  color: var(--bg-blue);
}

.header .social-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .social-menu .menu-toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 0px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.header .social-menu .menu-toggle a {
  padding: 15px;
  margin-right: 150px;
  margin-bottom: 10px;
  border-radius: 50px;
  background: var(--bg-blue);
  text-decoration: none;
  color: var(--bg-black);
}

/* .header .social-menu a {
  margin: 0px 35px 0px 35px;
  text-decoration: none;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
} */

.home {
  padding: 1.25rem;
}

.home hgroup h3 {
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

.home hgroup h1 {
  font-size: 44px;
  margin-top: -22px;
  padding: 0px;
}

.home .avatar {
  display: flex;
  justify-content: center;
}

.home .avatar img {
  width: 55%;
  margin: 0px auto;
  border-radius: 100%;
}

.home .skills p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.home .skills nav {
  display: flex;
  justify-content: space-evenly;
}

/** COLORS DE ICONOS DE SKILLS */
.home .skills nav .fa-html5 path {
  fill: #e34c26;
  /* HTML5 */
}

.home .skills nav .fa-css3-alt path {
  fill: #26ade4;
  /* CSS3 */
}

.home .skills nav .fa-js path {
  fill: #F0DB4F;
  /* JS */
}

.home .skills nav .fa-php path {
  fill: #8993be;
  /* PHP */
}

.home .skills nav .fa-laravel path {
  fill: #fb503b;
  /* LARAVEL */
}

.home .skills nav .fa-node-js path {
  fill: #3C873A;
  /* NODEJS */
}

.home .skills nav .fa-react path {
  fill: #61DBFB;
  /* REACTJS */
}

.home .right p {
  font-size: 20px;
  font-weight: 600;
}

.home .right .header-card img {
  width: 45%;
  margin: 4px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -webkit-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -moz-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
}

.section {
  padding: 2rem 1rem;
}

.section .section_title {
  color: var(--color-blue);
  text-align: center;
  font-weight: 600;
}

.about .avatar {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -webkit-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -moz-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
}

.about .cv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about .cv a {
  background-color: var(--bg-blue);
  padding: .5rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
}

.about p {
  color: var(--color-white);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 80%;
}

.transform {
  position: relative;
  font-style: italic;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  word-break: break-word;
  white-space: normal;
  background-color: var(--bg-blue);
  border-radius: 4px;
}

.portfolio .card {
  margin: 3rem 0;
  align-items: center;
}

.portfolio .card-title {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.portfolio small {
  text-align: center;
  font-size: 1rem;
  color: var(--color-white);
}

.portfolio .card-content .card-img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -webkit-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
  -moz-box-shadow: 3px 3px 15px -2px rgba(18, 126, 177, 0.75);
}

.portfolio .card-content .card-info {
  padding: 1rem 0;
  color: var(--color-white);
  text-align: center;
  font-size: 1.2rem;
  opacity: 80%;
}

.portfolio .card-btn {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
}

.portfolio .card-btn a {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: .4rem;
  background-color: var(--bg-blue);
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-black);
  margin: 8px;
}

.portfolio .card-btn a svg {
  fill: var(--color-black);
  width: 1rem;
  height: 1rem;
}


.social {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
}

/* .social a {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: .7rem;
  border-radius: 55px;
  text-decoration: none;
  margin: 8px;
} */

.social a svg path {
  fill: var(--white);
  /* width: 2.75rem;
  height: 2.75rem; */
}

.contact .email {
  text-align: center;
  margin: 2rem 0;
  font-size: 5.5vw;
}

.contact .email a {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
}

.contact .social a {
  width: 60px;
  height: 60px;
}

.contact .social a svg {
  width: 64px;
  height: 64px;
}

.contact img {
  display: block;
  width: 100%;
  margin: 45px auto;
}

.sm-none {
  display: block;
}

.md-none {
  display: none;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  width: 90%;
  margin:auto;
  padding: 10px;
  color: var(--color-white);
  border-top: 1px solid var(--color-white); 
}

footer p a {
  color: var(--color-white);
  font-style: none;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-content: center;
  }

  .about .section_title {
    grid-column: span 2;
  }

  .about .avatar {
    width: 85%;
    font-size: 2.5vw;
  }

  .sm-none {
    display: none;
  }

  .md-none {
    display: block;
  }

  .menu-btn {
    display: none !important;
  }

  .header svg {
    width: 46px;
  }

  .header .social-menu .menu-toggle {
    display: block ruby;
    position: static;
  }

  .header .social-menu a {
    margin: 0px 25px 0px 25px;
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
  }

  .home .left,
  .home .right {
    width: 50%;
  }

  .home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.75rem;
  }

  .home .avatar img {
    width: 62%;
    height: 100%;
  }

  .home .skills nav svg {
    width: 35px;
  }

  .home .right hgroup h3 {
    font-size: 25px;
  }

  .home .right hgroup h1 {
    font-size: 55px;
  }

  .header .social-menu a {
    font-size: 18px;
    margin: 0px 25px 0px 25px;
  }

  .portfolio .card-content .card-info {
    padding: 2rem;
  }

  .portfolio .card-content .card-img {
    width: 80%;
  }

  .card-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .reverse img {
    order: 2;
  }

  .contact .email {
    font-size: 3.5vw;
  }

  .contact img {
    width: 45%;
  }
}

@media screen and (min-width: 980px) {
  .home .right hgroup h3 {
    font-size: 35px;
  }

  .home .right hgroup h1 {
    font-size: 75px;
  }

  .header .social-menu a {
    font-size: 20px;
    margin: 0px 25px 0px 25px;
  }
}

.card-links {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin: 50px auto;
  max-width: 400px;
}

.card-hader-links {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.card-contenct-links {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.links {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  background-color: #212121;
}

.card-footer-links {
  padding: 10px;
}

.bg-fb {
  background-color: #4867aa;
}

.bg-linkedin {
  background-color: #0073b1;
}

.bg-instagram {
  background-color: #d32e7a;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-codepen {
  background-color: #1d1e22;
}