.tags {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    color: #2a2e37;
    margin: 5px;
}

.tag-html {
    background-color: #e34c26;
}

.tag-css {
    background-color: #26ade4;
}

.tag-sass {
    background-color: #CE649A;
}

.tag-js {
    background-color: #F0DB4F;
}

.tag-webpack {
    background-color: #9FB7E0;
}

.tag-php {
    background-color: #8993be;
}

.tag-laravel {
    background-color: #fb503b;
}

.tag-react {
    background-color: #61DBFB;
}

.tag-nodejs {
    background-color: #3C873A;
}

.tag-express {
    background-color: #828282;
}

.tag-mysql {
    background-color: #4F7B99;
}

.tag-mongodb {
    background-color: #1E8334;
}

.tag-firebase {
    background-color: #F1BA02;
}

.tag-redux {
    background-color: #7046B3;
}