$bg-black: #2a2e37;
$bg-blue: #127eb1;
$color-black: #212121;
$color-blue: #127eb1;
$color-white: #f0f0f0;
$white: #ffffff;
$title-color: #127eb1;
$text-color: #ffffff;
$font: 'Poppins', sans-serif;
$max-width: 1200px;
$header-height: 4rem;

//sizes
$sm: 540px;
$md: 720px;
$lg: 960px;