@import "./vars";
@import "./global";
@import "./utils/project";
@import "./utils/tags";

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

/* General */
.section-title {
    font-weight: 700;
}

.container {
    max-width: 900px!important;
}

.btn-custom {
    background-color: rgba(31 41 55 / 1);
    color: rgb(255 255 255 / 1);
    padding: 4px 16px;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgb(75 85 99 / 1);
    display: flex;
    align-items: center;
    width: fit-content;

    img {
        width: 16px;
        margin-right: 5px;
    }

    &:hover {
        color: #fff;
    }
}

/* Main */
main {
    section {
        margin-bottom: 30px;
        margin-top: 100px;
    }

    /* About */
    .about {
        &_avatar {
            img {
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 100%;
            }

            span {
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 2px;
                color: $color-white;
                border-radius: 30px;
                border: 1px solid $bg-blue;
                padding: 4px 16px;
                background-color: rgba(31 41 55 / 1);
            }

            &_position {
                box-shadow: 0px 0px 20px 0px rgba(60, 122, 192, 0.75);
            }
        }

        &_info {
            &_title {
                font-weight: 900;
                font-size: 48px;
            }

            &_description {
                font-size: 20px;
                max-width: 700px;

                span {
                    color: $color-blue;
                    font-weight: 700;
                }
            }
        }
    }

    /* Experiencie */
    .experience {
        &_timeline {
            padding-left: 15px;
            position: relative;
            border-left: 2px solid rgba(109, 109, 109, 0.746);
    
            .item {
                margin: 30px 0;
    
                .info {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -23.5px;
                        width: 15px;
                        height: 15px;
                        background-color: $bg-blue;
                        border-radius: 50%;
                    }

                    .title, .company {
                        font-size: 20px;
                        font-weight: 600;
                        color: $color-white;
                    }
    
                    .title {
                        font-size: 20px;
                        font-weight: 600;
                        color: $color-blue;
    
                        small {
                            color: $color-white;
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 300;
                        }
                    }
                }

                .description {
                    line-height: 26px;

                    .position {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    /** Certificates */
    .certificates {
        .card {
            background-color: #3C4451;

            .link-company {
                color: #127eb1;

                &:hover { 
                    font-weight: bold;
                    color: #fff;
                }
            }
        }
    }
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    
    p {
        width: 90%;
        margin: auto;
        padding: 10px;
        color: var(--color-white);
        border-top: 1px solid var(--color-white);

        a {
            color: var(--color-white);
            font-style: none;
            text-decoration: none;
        }
    }
    
}